<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">TODO List</h1>
			<hr class="my-4">
			<p>using vue.js</p>
			<ol>
				<li>
					<a href="/examples/chapter02">Chapter 02</a>
				</li>
				<li>
					<a href="/examples/chapter02-1">Chapter 02</a>
				</li>
				<li>
					<a href="/examples/chapter03">Chapter 03</a>
				</li>
				<li>
					<a href="/examples/chapter04">Chapter 04</a>
				</li>
			</ol>
		</div>
	</div>
</body>
</html>