<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">TODO List</h1>
			<hr class="my-4">
			<p>using vue.js</p>
		</div>
		<div class="input-group mb-3">
			<input type="text"
				   class="form-control"
				   placeholder="create todo list...">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button">저장</button>
			</div>
		</div>
		<ul class="list-unstyled"></ul>
	</div>

</body>
</html>