<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List - chapter02-1</title>
</head>
<body>
<div class="container" id="app">
	<h1>Chapter 02-1.</h1>
	<p>{{totalCount}}</p>
	<input-field v-on:addlist="onChangeStatus"></input-field>
	<list v-bind:status="status"
		  v-on:changestatus="onChangeStatus"
			v-on:totalcount="onSetTotalCount"></list>
</div>
<script src="/dist/vue/bundle.js"></script>
<script src="/dist/app/entry/chapter02_1/bundle.js"></script>
</body>
</html>