<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List - chapter02-1</title>
</head>
<body>
<div class="container" id="app">
	<h1>Chapter 02-1.</h1>
	<div class="input-group mb-3">
		<input type="text"
			   class="form-control"
			   placeholder="입력하세요."
			   v-model="newTodo">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary"
					type="button"
					v-on:click="addTODOList">저장</button>
		</div>
	</div>
	<ul class="list-unstyled">
		<li v-for="todo in todos"
			v-bind:class="isActive(todo)">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input type="checkbox"
							   v-on:click="doneTODOList(todo)">
					</div>
				</div>
				<p class="form-control">{{todo.text}}</p>
			</div>
		</li>
	</ul>
</div>
<script src="/dist/vue/bundle.js"></script>
<script src="/dist/app/components/examples/chapter02-1/bundle.js"></script>
</body>
</html>