<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List - chapter04</title>
</head>
<body>
<div class="container" id="app">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/examples/chapter04">Chapter 04.</a>
		<router-link to="/examples/chapter04" v-show="menuType !== 'index'">Index</router-link>
		<router-link to="/examples/chapter04/search" v-show="menuType !== 'search'">Search</router-link>
	</nav>
	<router-view></router-view>
</div>
<script src="/dist/vue/bundle.js"></script>
<script src="/dist/app/entry/chapter04/bundle.js"></script>
</body>
</html>