<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List - chapter03</title>
</head>
<body>
<div class="container" id="app">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/examples/chapter03">Chapter 03.</a>
	</nav>
	<div class="card">
		<div class="card-header">
			<span>TODO List</span>
			<span class="badge badge-primary badge-pill">{{this.$store.getters.totalCount}}</span>
		</div>
		<div class="card-body">
			<input-field></input-field>
			<list></list>
		</div>
	</div>
</div>
<script src="/dist/vue/bundle.js"></script>
<script src="/dist/app/entry/chapter03/bundle.js"></script>
</body>
</html>