<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List - chapter02</title>
</head>
<body>
<div class="container" id="app">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/examples/chapter02">Chapter 02.</a>
	</nav>
	<div class="card">
		<div class="card-header">
			TODO List
		</div>
		<div class="card-body">
			<div class="input-group mb-3">
				<input type="text"
					   class="form-control"
					   placeholder="입력하세요."
					   v-on:keyup.enter="add"
					   v-model="newTodo">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary"
							type="button"
							v-on:click.prevent="add">저장</button>
				</div>
			</div>
			<ul class="list-unstyled list-group">
				<li v-for="todo in todos"
					class="list-group-item">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox"
									   v-on:click="done(todo)">
							</div>
						</div>
						<p class="form-control">{{todo.text}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="/dist/vue/bundle.js"></script>
<script src="/dist/app/entry/chapter02/bundle.js"></script>
</body>
</html>