<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List - chapter02</title>
</head>
<body>
<div class="container">
	<h1>Chapter 02.</h1>
	<div class="input-group mb-3">
		<input type="text"
			   class="form-control"
			   placeholder="create todo list...">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="button">저장</button>
		</div>
	</div>
	<ul class="list-unstyled"></ul>
</div>
</body>
</html>