<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
	<title>TODO List - chapter02-2</title>
</head>
<body>
<div class="container" id="app">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/examples/chapter02/1">Chapter 02-2.</a>
	</nav>
	<div class="card">
		<div class="card-header">
			<span>TODO List</span>
			<span class="badge badge-primary badge-pill">{{totalCount}}</span>
		</div>
		<div class="card-body">
			<input-field v-on:addlist="onChangeStatus"></input-field>
			<list v-bind:status="status"
				  v-on:changestatus="onChangeStatus"
				  v-on:totalcount="onSetTotalCount"></list>
		</div>
	</div>
</div>
<script src="/dist/vue/bundle.js"></script>
<script src="/dist/app/entry/chapter02_2/bundle.js"></script>
</body>
</html>